{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 6
        }
      }
    ],
    "stage-3"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
