{
  "extends": [
    "eslint:recommended",
    "eslint-config-airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "camelcase": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "quote-props": [2, "consistent-as-needed"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }]
  },
  "plugins": [
    "import"
  ]
}
