version: 2
jobs:
   build:
     docker:
       - image: circleci/node:4.8.2
     steps:
       - checkout
       - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
       - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
       - run:
          name: install-npm
          command: npm install
       - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
       - run:
          name: lint
          command: npm run lint
       - run:
          name: test
          command: npm test
