name: Cockroach Test

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [22]
        cockroach_version: [23.2.28, 24.3.23, 25.3.5]
      fail-fast: false
    timeout-minutes: 10

    name: 'Cockroach Test: cockroach-${{ matrix.cockroach_version }}, node-${{ matrix.node_version }}, ubuntu-latest'
    steps:
      - name: Init Cockroach
        env:
          COCKROACHDB_DOCKER_TAG: cockroachdb/cockroach:v${{ matrix.cockroach_version }}
          DATABASE_URL: postgresql://root@localhost:26257/integration_test
        run: |
          docker pull $COCKROACHDB_DOCKER_TAG
          docker run -d --name roach --hostname roach -p 26257:26257 -p 8080:8080 $COCKROACHDB_DOCKER_TAG start-single-node --insecure
          sudo apt update && sudo apt install wait-for-it -y
          wait-for-it -h localhost -p 26257
          docker exec roach bash -c "./cockroach sql --execute=\"CREATE DATABASE integration_test;\" --insecure"

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set node version to ${{ matrix.node_version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node_version }}
          cache: 'pnpm'

      - name: Install deps
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Integration Test
        run: pnpm run migrate up -m test/cockroach --no-lock && pnpm run migrate down 0 -m test/cockroach --no-lock --timestamps
        env:
          DATABASE_URL: postgresql://root@localhost:26257/integration_test
